<!doctype html>

<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Invoice generation</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{$basePath}/css/reset.css">
    <link rel="stylesheet" href="{$basePath}/css/main.css">
</head>
<body>
    {block content}
</body>
</html>