parameters:
    dataEnvironment: production
    migrator:
        migrations_directory: ../sql

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	- App\Presenters\InvoicePresenter(dataEnvironment: %dataEnvironment%)
	connection: Dibi\Connection(%dibi_prod%)
	- Doomy\Repository\TableDefinition\ColumnTypeMapper
	- Doomy\Repository\TableDefinition\TableDefinitionFactory
	- Doomy\Repository\EntityFactory
	- Doomy\Repository\Helper\DbHelper
	- Doomy\Repository\RepoFactory
	- Doomy\EntityCache\EntityCache
	- Doomy\Ormtopus\DataEntityManager
	- Doomy\Migrator\Migrator(config: [migrations_directory: 'sql'])
	- Doomy\DataGrid\DataGridEntryFactory
	- Invoictopus\Invoice\InvoiceFactory
	- Invoictopus\Invoice\InvoiceItemFactory
	- Invoictopus\Invoice\View\InvoiceItemViewFactory
	- Invoictopus\Invoice\Service\InvoiceService
